.buttonStyle {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    filter: brightness(100%);
    transition: filter 0.2s ease;
}

.buttonStyle:hover {
    filter: brightness(85%);
    filter: drop-shadow(0.05em 0.05em 0.25em grey);
}


  .iconStyle {
    height: 1em; /* Scales icon to the height of the text */
    margin-right: 5px;
  }
  