.popupImage {
    width: 400px;
    height: 400px;
    margin-right: 20px;
    background-color: white;
    object-fit: contain;
}

.popupBelowImage {
    display: flex;
    vertical-align: center;
    justify-content: space-between;
}

.popupButton {
    cursor: pointer;
    color: black;
    width: 50%;
    font-size: 25px;
    height: 30%;
    margin-top: 63px;
}

.popupButton:hover {
    background-color: var(--blue);
}
