.component {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:11em;
    
}

.itemImage {
  height: 6.5em;
  object-fit: cover;
  padding-bottom: 0.5em;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 0.5em;
}