.onlineShop {
    display:flex;
    flex-direction:column;
    align-items: center;
}

.infoBar {
    width:100%;
    padding:1em;
    padding-bottom: 0.5em;
    color:white;
    background-color: black;
    font-size: 0.5em;
    box-sizing: border-box;
}

.buttonBar {
    box-sizing: border-box;
    width:100%;
    padding:1em;
    font-size: 0.5em;
    padding-bottom: 0.5em;
    padding-top: 0.1em;
}

.content {
    display:flex;
    flex-direction:column;
    width:15em;
    height:calc(5/7 * (15em + 0.4em));
}